<template>
  <div>
    <input type="text" v-model="query" @input="search" />
    <ul v-if="suggestions.length">
      <li v-for="suggestion in suggestions" :key="suggestion">
        {{ suggestion }}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import { debounce } from "lodash";

export default {
  data() {
    return {
      query: "",
      suggestions: [],
    };
  },
  methods: {
    search: debounce(function () {
      if (this.query) {
        const endpoint =
          "https://api.openai.com/v1/engines/davinci-codex/completions";
        const headers = {
          "Content-Type": "application/json",
          Authorization: `Bearer ${process.env.VUE_APP_OPENAI_API_KEY}`,
        };
        const data = {
          prompt: `Search for "${this.query}"`,
          max_tokens: 5,
          temperature: 0.5,
          n: 5,
          stop: ["\n"],
        };
        axios
          .post(endpoint, data, { headers })
          .then((response) => {
            const suggestions = response.data.choices.map((choice) =>
              choice.text.trim()
            );
            this.suggestions = suggestions.filter(
              (suggestion) => suggestion !== this.query
            );
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.suggestions = [];
      }
    }, 300),
  },
};
</script>

<style lang="scss" scoped></style>
